<main>
<p id="notice"></p>
  
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(resize: "100x100!"), class: "img-thumbnail" %>
        <% else %>
          <%= image_tag "default-image.jpg", class: "mr-3", style: "width: 100px; height: 100px;" %>
        <% end %>
        <hr style="border-top: 1px solid #6d7f90; margin: 0; padding: 0;">
        <table class="table" style="margin: 0 0 50px 5px;">
          <tr></tr>
          <tr style="padding-left: 30px;">
            <td>name</td>
            <td><%= current_user.name %></td>
          </tr>
          <tr style="padding-left: 30px;">
            <th style="border: none;">introduction</th>
            <th style="border-bottom: none;"><%= current_user.introduction %></th>
          </tr>
        </table>
        <div class="row" style="margin: 30px 0 20px 0;">
          <a class="btn btn-outline-secondary btn-block" href="<%= edit_user_registration_path %>">
            <i class="fas fa-user-cog" aria-hidden="true"></i>
          </a>
        </div>
          <div class="col-md-3" style="width: auto; margin-left: 10px">
          <h2>New book</h2>
          <%= form_with model: @book, url: books_path do |f| %>
            <div class="form-group">
              <%= f.label :title, style: "margin-bottom: 10px;" %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :body, "Opinion", style: "margin: 10px 0;" %>
              <%= f.text_area :body, class: "form-control", style: "margin-bottom: 15px;"%>
            </div>
            <div class="form-group">
              <%= f.submit "Create Book", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-9" style="padding-left: 100px;">
    <h2 style="border-bottom: 1px solid #dee2e6; padding-bottom: 10px;">Book detail</h2>
      <table class="table">
      <tbody>
        <tr>
          <td style="border: none; margin: 0; padding-bottom: 0;">
            <% if @book.image.attached? %>
              <%= image_tag @book.image.variant(resize: "100x100!"), class: "mr-3" %>
            <% else %>
              <%= image_tag "default-image.jpg", class: "mr-3", style: "width: 100px; height: 100px;" %>
            <% end %>
          </td>
          <td style="vertical-align: top; border: none;">
            <p style="display: inline;"><%= link_to @book.title, book_path(@book) %></p>
          </td>
          <td style="border: none;"> 
            <p style="display: inline;"><%= @book.body %></p>
          </td>
          <td style="border: none;">
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary" %>
          </td>
          <td style="border: none;">
            <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </td>
        </tr>
        <tr>
          <td style="border: none; margin-top: 0; padding-top: 0;">
            <p><%= link_to @book.user.name, user_path(@book.user) %></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>